* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #DEDFE1;
}

main {
    margin: 100px auto;
    height: 50vh;
    position: relative;
    max-width: 700px;
    min-width: 200px;
    width: 100%;
}

main>div {
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 7px;
    -webkit-box-shadow: 0px 22px 31px -1px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 0px 22px 31px -1px rgba(34, 60, 80, 0.2);
box-shadow: 0px 22px 31px -1px rgba(34, 60, 80, 0.2);
}

.card {
    max-width: 700px;
    min-width: 200px;
    width: 100%;
    max-height: 350px;
    min-height: 100px;
    height: 100%;
    overflow: hidden;
}

main>div:first-child {
    top: -40px;
    left: 40px;
    max-width: 620px;
    min-width: 120px;
    max-height: 270px;
    min-height: 20px;
}

main>div:nth-child(2) {
    top: -20px;
    left: 20px;
    max-width: 660px;
    min-width: 160px;
    max-height: 310px;
    min-height: 60px;
}

main>div:first-child, main>div:nth-child(2) {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
}

img {
    width: 40%;
    height: 100%;
    object-fit: cover;
}

.row {
    display: inline-block;
    margin-right: 50px;
}

.row>div:first-child {
    margin-bottom: 15px;
}

.row>div:last-child {
    font-size: 28px;
}

.disc {
    position: absolute;
    top: 0;
    left: 40%;
    margin: 50px;
    font-size: 20px;
}

.disc>div:first-child {
    position: absolute;
    right: -100px;
    font-size: 16px;
    color: #ffffff;
    background-color: #DEDFE1;
    padding: 5px;
    border-radius: 15px;
}

.disc>div:nth-child(3) {
    margin-bottom: 70px;
}

.disc>div:nth-child(4), .disc>div:nth-child(3) {
    color: #6b6b6b;
}

h1 {
    font-size: 36px;
    margin-top: 30px;
}

.plus {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ffe600cb;
    position: absolute;
    top: 120px;
    right: -35px;
    font-size: 46px;
    padding: 8px;
    text-align: center;
}